*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(54, 54, 93);
}
section{
    width: 100%;
    background-image: url(img/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-bottom: 20px;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
   position: relative;

}
header img{
    margin-top: 5%;
   margin-left: 5%;
}
header::after{
    content: " ";
    width: 32%;
    height: 1px;
    background-color: gray;
    left: 13%;
    top: 79%;
    position: absolute;
}
.nav{
    padding: 15px 20px 7px 19px;
    width: 55%;
    background-color: rgba(105, 101, 101, 0.4);
    margin-top: 5%;
    z-index: 1;
}
.nav li{
    display: inline;
    margin: 0 18px ;
    position: relative;
}
ul li a::after{
    content: " ";
    width: 100%;
    height: 0;
    position: absolute;
     bottom: -20px;
     background-color: white;
     left: 0;
     transition: 0.5s;
}
ul li a.active::after{
    height: 3px;
}
ul li a{
    text-decoration: none;
    color: gray;
  font-size: 12px;
}
ul li a span{
    font-weight: bold;
    margin-right: 5px;
    color: white;
}
main{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5% 10% 5%;
}
.left img{
    height: 300px;
    margin-top: 12%;
}
.left p{
    color:white;
}
.left p span{
    color: gray;
    font-weight: bold;
}
ul li{
    display: inline-block;
    margin: 0 15px 0 0;
    color: gray;
    cursor: pointer;
}
.right{
    margin-left: 12%;
    width: 45%;
    margin-top: 7%;
}
.mars{
    margin-top: 5%;
    font-size: 90px;
    font-family: serif;
}
.marsp{
    padding-bottom: 5%;
    border-bottom: 1px solid gray;
    color: gray;
    width: 80%;
}
.feet{
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.fpar{
    color: gray;
    font-size: 14px;
}
.hpar{
    margin-top: 3px;
    font-size: 20px;
}
.current{
    position: relative;
}
.current::after{
    content: " ";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
}
#ham{
    display: none;
}
#close{
    display: none;
}
@media screen and (max-width:1000px) {
    .nav{
        padding: 23px 0 7px 10px;
        width: 55%;
        margin-top: 0;
    }
    .nav li{
            margin: 0 1%;
    }
    section{
        width: 100%;
        background-image: url(img/background-destination-tablet.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }
    .nav li a{
        font-size: 12px;
        color: white;
        margin: 5px 10px 0;

    }
    .nav li a span{
        display: none;
    }
    header::after{
        height: 0;
    }
    header img{
        margin-top: 10px;
        margin-left: 3%;
    }
    main{
        display: block;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .pars{
        text-align: left;
    }
    .left img{
        margin-top: 20px;
        width: 500px;
        height: 500px;
        margin-bottom: 5%;
    }
    .right{
        margin: 0 auto;
        width: 70%;
        text-align: center;
    }
    .marsp{
        width: 100%;
        font-size: 15px;
    }
    .feet{
        width: 100%;
    }
}
@media screen and (max-width:1080px) {
   
    main{
        margin-top: 10%;
    }
    .left img{
        width: 250px;
        height: 250px;
    }
    .mars{
        font-size: 100px;
    }
    ul li{
        margin: 0 8px 0 0;
    }
    .fpar{
        font-size: 12px;
    }
    .hpar{
        font-size: 18px;
    }
}
@media screen and (max-width:700px) {
    section{
        width: 100%;
        background-image: url(img/background-destination-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        position: relative;
    }
    header img{
        margin-top: 4%;
    }
    .nav{
        display: none;
        position: absolute;
        height: 100vh;
        margin-top: 0;
        right: 0;
        background-color: rgb(54, 54, 93);
        
    }
    .hidden{
        display: block;
    }
    .nav li{
        display: block;
        margin: 20% 5%;
    }
    .nav li a{
        font-size: 17px;
        
    }
    #ham{
        display: block;
        margin-right: 20px;
        width: 39px;
        height: 34px;
        margin-top: 5%;
        cursor: pointer;
    }
    header::after{
        height: 0;
    }
    .mars{
        font-size: 70px;
    }
    main{
        display: block;
        margin: 10% 5% 0;
        width: 90%;
    }
    .left{
        width: 100%;
        text-align: center;
    }
    .para{
        font-size: 15px;
    }
    .right{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    ul li a::after{
        bottom: -10px;
        width: 170px;
    }
    #close{
        display: block;
        float: right;
        width: 25px;
        margin-right: 20px;
        cursor: pointer;
    }
    .left img{
        margin-top: 5%;
    }
    .marsp{
        padding-bottom: 3%;
        border-bottom: 1px solid gray;
        color: gray;
        font-size: 15px;
    }
    .feet{
        display: block;
        width: 100%;
    }
    .fright{
        margin-top: 20px;
    }
    .fpar{
        font-size: 12px;
    }
    .hpar{
        font-size: 23px;
    }
}
