*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(54, 54, 93);
}
section{
    width: 100%;
    background-image: url(img/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100vh;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
   position: relative;
}
header img{
    margin-top: 5%;
   margin-left: 5%;
}
header::after{
    content: " ";
    width:32%;
    height: 1px;
    background-color: gray;
    left: 13%;
    top: 79%;
    position: absolute;
}
nav{
    display: flex;
}
.nav-bar{
    margin-left: 12%;
    margin-top: 7%;
    text-align: center;
    display: block;
}
.nav-bar p{
    margin-top: 5%;
    width: 70px;
    height: 70px;
    padding-top: 25%;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
}
.current{
    background-color: white;
    color: black;
}
.nav{
    padding: 15px 20px 7px 19px;
    width: 55%;
    background-color: rgba(105, 101, 101, 0.4);
    margin-top: 5%;
    z-index: 1;
}
.nav li{
    display: inline;
    margin: 0 18px ;
    position: relative;
}
ul li a::after{
    content: " ";
    width: 100%;
    height: 0;
    position: absolute;
     bottom: -20px;
     background-color: white;
     left: 0;
     transition: 0.5s;
}
ul li a.active::after{
    height: 3px;
}
ul li a{
    text-decoration: none;
    color: gray;
  font-size: 12px;
}
ul li a span{
    font-weight: bold;
    margin-right: 7px;
    color: white;
    margin-right: 6px;
}
.pars span{
    color: gray;
    font-weight: bold;
}
.pars{
    font-size: 20px;
    margin: 5% 0 0 13% ;
}
.right{
    margin-top: 4%;
}
.left{
    width: 50%;
    margin-top: 5%;
}
.one{
    margin-top: 10%;
    color: gray;
    font-size: 15px;
}
.two{
    font-size: 40px;
    margin-top: 10px;
    letter-spacing: 5px;
}
.three{
    color: gray;
    margin-top: 20px;
    font-size: 18px;
    width: 80%;
}

.right img{
    height: 420px;
    width: 100%;
    border-radius: 10px;
}
#ham{
    display: none;
}
#close{
    display: none;
}
main{
    display: flex;
    width: 90%;
    margin: 2px 0 0 5%;
}
@media screen and (max-width:1000px) {
    section{
        width: 100%;
        background-image: url(img/background-technology-tablet.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }
    header img{
        margin-top: 0;
        margin-left: 3%;
    }
    .nav{
        padding: 23px 0 7px 10px;
        width: 55%;
        margin-top: 0;
        height: 60px;
    }
    .nav li{
        margin: 0 5px;
    }
    .nav li a{
        color: white;
        font-size: 13px;
        margin: 5px 5px 0;

    }
    .nav li a span{
        display: none;
    }
    header::after{
        height: 0;
    }
    main{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0;
    }
    .nav-bar{
        margin-left: 5%;
        margin-top: 590px;
        position: absolute;
    }
    nav{
        position: relative;
    }
    .pars{
        font-size: 20px;
        margin: 5% 0 0 7% ;
    }
    
    .right img{
        height: 500px;
        border-radius: 0;
    }
    .left{
        margin-left: 20%;
        width: 80%;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:700px) {
    section{
        width: 100%;
        background-image: url(img/background-technology-mobile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        position: relative;
        height: auto;
    }
    header img{
        margin-top: 5%;
        margin-left: 3%;
    }
    .nav{
        display: none;
        position: absolute;
        height: 100vh;
        margin-top: 0;
        background-color: rgb(54, 54, 93);

        right: 0;
    }
    .nav-bar{
        margin-left: 1%;
        margin-top: 420px;
        position: absolute;
    }
    .hidden{
        display: block;
    }
    .nav li{
        display: block;
        margin: 20% 5%;
    }
    .nav li a{
        font-size: 17px;
        
    }
    #ham{
        display: block;
        margin-right: 20px;
        width: 39px;
        height: 34px;
        margin-top: 7%;
        cursor: pointer;
    }
    header::after{
        height: 0;
    }
    main{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
    }
    .left{
        text-align: left;
        padding: 0 2%;
        margin-top: 7%;
            margin-left: 19%;
            width: 81%;
            padding-bottom: 30px;
    }
    .one{
        margin-top: 10%;
    }
    .two{
        font-size: 26px;
    }
    .three{
        font-size: 17px;
    }
    .para{
        font-size:10px;
    }
    .right{
        width: 100%;
        margin-top: 20px;
    }
    .right img{
        width: 100%;
        height: 350px;
        border-radius: 0;
        margin: 0;
    }
    .pars{
        display: none;
    }
    ul li a::after{
        bottom: -10px;
        width: 140px;
    }
    #close{
        display: block;
        float: right;
        width: 25px;
        margin-right: 20px;
        cursor: pointer;
    }
    .left img{
        margin-top: 5%;
    }
    .marsp{
        padding-bottom: 3%;
        border-bottom: 1px solid gray;
        color: gray;
        font-size: 15px;
    }
    
}
